---
import { Image } from 'astro:assets';
import logo from '../assets/shared/logo-choctaw-casino-and-resorts-white-horizontal.svg';
import giftLogo from '../assets/base/onyx-gift--white.svg';
import eliteLogo from '../assets/elite/onyx-elite-gift--white.svg';
import bg from '../assets/shared/intro-bg.png';
const isElite = import.meta.env.IS_ELITE;
---

<style>
	#elite-one {
		scale: 1.75;
		max-width: 90vw;
		margin-inline: auto;
	}
</style>
<header
	class:list={[
		'position-relative overflow-hidden py-5',
		{
			'align-content-center': !isElite,
		},
	]}
	style={!isElite ? 'height:95vh' : ''}>
	<Image
		src={bg}
		alt={''}
		loading='eager'
		fetchpriority={'high'}
		aria-hidden={true}
		class='position-absolute w-100 h-100 top-0 z-n1 object-fit-cover start-0'
	/>

	<div class='container position-relative z-1 py-5 my-5'>
		<div class='row justify-content-center'>
			<div class='col-10 col-lg-6 content-spacer'>
				{
					isElite ? (
						<div class='ratio ratio-1x1'>
							<Image
								src={eliteLogo}
								loading='eager'
								fetchpriority={'high'}
								alt='Onyx gift event'
								class='w-100 h-auto object-fit-cover py-5'
								id='elite-one'
							/>
						</div>
					) : (
						<Image
							src={giftLogo}
							loading='eager'
							fetchpriority={'high'}
							alt='Onyx gift event'
							class='w-100 h-auto object-fit-cover py-5'
						/>
					)
				}
				<Image
					src={logo}
					loading='eager'
					fetchpriority={'high'}
					alt='Choctaw Casinos & Resorts'
					class='object-fit-contain py-5 w-75 h-auto mx-auto'
				/>
			</div>
		</div>
	</div>
</header>
